.v-data-table {
  .actions {
    visibility: hidden;
  }

  @include media('xs-only') {
    .actions {
      visibility: visible;
    }
  }

  tr {
    &:hover {
      .actions {
        visibility: visible;
      }
    }
  }
}
